<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.woniuxy.clientmanager.mapper.ClientMapper" >

    <select id="findClientByCondition" resultType="tbClient">
        select c.* ,p.projectName , h.house_number from tb_client c,tb_project p,tb_house h
        <where>
            <if test="phone!='' and phone!=null">and phone = #{phone}</if>
            <if test="clientName!='' and clientName!=null">and clientName = #{clientName}</if>
            <if test="projectName!='' and projectName!=null">and projectName = #{projectName}</if>
            <if test="houseNumber!='' and houseNumber!=null">and houseNumber = #{houseNumber}</if>
        </where>
    </select>

</mapper>
